
# Editors, tools and OS's

.buildpath
.htaccess
.project
.settings
.idea
.svn
.DS_Store
.sass-cache
config.codekit
*.sublime-project
*.sublime-workspace
nbproject
bower_components
node_modules
composer.dev.json
composer.dev.lock

# Cache, temp and personal files

/cache/*
/download/*
/img/*
/log/*
/upload/*
/vendor/*

/admin-dev/autoupgrade/*
/admin-dev/backups/*
/admin-dev/import/*
/admin-dev/themes/*/cache/*

# Config

/config/settings.inc.php
/config/settings.old.php
/config/xml/*
!/config/xml/themes/
/config/xml/themes/*
!/config/xml/themes/default.xml
!/config/xml/themes/community-theme-default.xml
!/upload/index.php

/config/defines_custom.inc.php
/config/settings_custom.inc.php

# Themes, modules and overrides

/modules/*
/override/*
/themes/*
!/themes/.htaccess
!/themes/debug.tpl
!/themes/javascript.tpl
!/themes/live_edit.tpl

/admin-dev/themes/default/sass/ie.sass
/admin-dev/themes/default/sass/print.sass
/admin-dev/themes/default/sass/screen.sass
/admin-dev/themes/default/css/ie.css
/admin-dev/themes/default/css/print.css
/admin-dev/themes/default/css/screen.css

# Translations and emails templates

/translations/*
/mails/*
!/mails/en/*

# MISC

/*sitemap.xml
/robots.txt

/tests/_output/*
/config/json/files.json
codeception.yml
/.vs/tb-dev-current/FileContentIndex
/.vs/tb-dev-current/config/applicationhost.config
/.vs/tb-dev-current/v17/.wsuo
/.vs
