.btn-facebook {
  color: #fff;
  background-color: #435f9f;
}

.btn-facebook:hover {
  color: #ccc;
}

.btn-twitter {
  color: #fff;
  background-color: #00aaf0;
}

.btn-twitter:hover, .btn-twitter:focus {
  color: #fff;
}

.btn-google-plus {
  color: #fff;
  background-color: #e04b34;
}

.btn-google-plus:hover, .btn-google-plus:focus {
  color: #fff;
}

.btn-pinterest {
  color: #fff;
  background-color: #ce1f21;
}

.btn-pinterest:hover, .btn-pinterest:focus {
  color: #fff;
}
