@charset "UTF-8";
// Make sure the charset is set appropriately

// Resets and mixins

// Vendor variable overrides
@import "theme_variables";
@import "vendor/bootswatch/united/variables";

// Vendor styles
@import "vendor/bootstrap";
@import "vendor/font-awesome";

// Bootswatch
@import "vendor/bootswatch/united/bootswatch";

// Vendor style overrides + new components
@import "partials/alerts";
@import "partials/labels";
@import "partials/forms";

// Base styles
@import "partials/type";
@import "partials/headings";

// Page style and blocks
@import "partials/page";
@import "partials/footer";

// Page components and utilities
@import "partials/products";
@import "partials/boxes";
@import "partials/blocks";
@import "partials/sortbar";
@import "partials/pagination";
@import "partials/utilities";
@import "partials/highdpi";

// Pages
@import "partials/pages/404";
@import "partials/pages/address_identity";
@import "partials/pages/checkout";
@import "partials/pages/index";
