
@import "theme_variables";
@import "vendor_variables";

#my-account-menu {
  margin-bottom: 15px;
}

.nav-pills.stacked-menu > li {
  margin-bottom: 5px;
  + li {
    margin-top: 5px;
  }
  > a {
    background-color: $nav-link-hover-bg;

    &:hover,
    &:focus {
      color: $nav-pills-active-link-hover-color;
      background-color: $nav-pills-active-link-hover-bg;
    }

    .icon {
      // @see .icon-fw themes/community-theme-default/sass/vendor/font-awesome/font-awesome/_fixed-width.scss
      width: (18em / 14);
    }
  }
}
