
@import "./../../theme_variables";
@import "./../../vendor_variables";

.btn-facebook {
  color: #fff;
  background-color: #435f9f;
  &:hover {
    color: #ccc;
  }
}

.btn-twitter {
  color: #fff;
  background-color: #00aaf0;
  &:hover, &:focus {
    color: #fff;
  }
}

.btn-google-plus {
  color: #fff;
  background-color: #e04b34;
  &:hover, &:focus {
    color: #fff;
  }
}

.btn-pinterest {
  color: #fff;
  background-color: #ce1f21;
  &:hover, &:focus {
    color: #fff;
  }
}
