.blockcategories .list-group-item {
  padding-top: 6px;
  padding-bottom: 6px;
}

.blockcategories .list-group-item.active {
  border-color: #ddd;
}

.blockcategories .list-group .list-group {
  margin: 0;
}

.blockcategories .list-group .list-group .list-group-item:last-child {
  margin-bottom: -1px;
}

.blockcategories .list-group-item-wrapper {
  position: relative;
}

.blockcategories .list-group-item-wrapper .list-group-item {
  margin-right: 32px;
}

.blockcategories .list-group-item-wrapper .btn-toggle {
  display: block;
  height: 100%;
  width: 32px;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 32px;
  text-align: center;
  border: 1px solid #ddd;
  border-left: none;
  font-size: 20px;
}

.blockcategories .list-group-item-wrapper .btn-toggle.collapsed > .icon:before {
  content: "\f107";
}

.blockcategories .list-group-item.current:before {
  display: block;
  content: '\25b6';
  position: absolute;
  left: -5px;
  font-size: 20px;
  line-height: 20px;
  color: #fcf8e3;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #666;
  height: 20px;
  top: 50%;
  margin-top: -10px;
}

.blockcategories .list-group-item.ilvl-2 {
  padding-left: 25px;
}

.blockcategories .list-group-item.ilvl-3 {
  padding-left: 35px;
}

.blockcategories .ilvl-1.btn-toggle {
  color: #555;
  background-color: #f5f5f5;
}

.blockcategories .ilvl-1:hover {
  background-color: #337ab7;
  color: #fff;
  border-color: #ddd;
}

.blockcategories .ilvl-1:hover.active, .blockcategories .ilvl-1:hover:hover, .blockcategories .ilvl-1:hover:focus {
  color: #fff;
  border-color: #ddd;
  background-color: #3071a9;
}

.blockcategories .ilvl-2 {
  background-color: #5094ce;
  color: #fff;
  border-color: #ddd;
}

.blockcategories .ilvl-2.active, .blockcategories .ilvl-2:hover, .blockcategories .ilvl-2:focus {
  color: #fff;
  border-color: #ddd;
  background-color: #428bca;
}

.blockcategories .ilvl-2:hover {
  color: #fff;
}

.blockcategories .ilvl-3 {
  background-color: #78acd9;
  color: #fff;
  border-color: #ddd;
}

.blockcategories .ilvl-3.active, .blockcategories .ilvl-3:hover, .blockcategories .ilvl-3:focus {
  color: #fff;
  border-color: #ddd;
  background-color: #6aa3d5;
}

.blockcategories .ilvl-3:hover {
  color: #fff;
}

.blockcategories .list-group-item-wrapper.active > .ilvl-1 {
  background-color: #337ab7;
  color: #fff;
  border-color: #ddd;
}

.blockcategories .list-group-item-wrapper.active > .ilvl-1.active, .blockcategories .list-group-item-wrapper.active > .ilvl-1:hover, .blockcategories .list-group-item-wrapper.active > .ilvl-1:focus {
  color: #fff;
  border-color: #ddd;
  background-color: #3071a9;
}

.blockcategories .list-group-item-wrapper.active > .ilvl-2 {
  background-color: #5094ce;
  color: #fff;
  border-color: #ddd;
}

.blockcategories .list-group-item-wrapper.active > .ilvl-2.active, .blockcategories .list-group-item-wrapper.active > .ilvl-2:hover, .blockcategories .list-group-item-wrapper.active > .ilvl-2:focus {
  color: #fff;
  border-color: #ddd;
  background-color: #428bca;
}

.blockcategories .list-group-item-wrapper.active > .ilvl-3 {
  background-color: #78acd9;
  color: #fff;
  border-color: #ddd;
}

.blockcategories .list-group-item-wrapper.active > .ilvl-3.active, .blockcategories .list-group-item-wrapper.active > .ilvl-3:hover, .blockcategories .list-group-item-wrapper.active > .ilvl-3:focus {
  color: #fff;
  border-color: #ddd;
  background-color: #6aa3d5;
}
