#footer {
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding: 15px 0;
}

#copyright-footer {
  margin-top: 10px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
  text-align: center;
}
