.label {
  white-space: normal;
  display: inline-block;
  padding: 6px 10px;
}

// Some labels will have .dark class when their background is a dark color (changed by PrestaShop, order statuses)
// .label.dark {}
