#search_block_top {
  margin-top: 30px;
}

@media (max-width: 767px) {
  #search_block_top {
    margin-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #search_block_top {
    margin-top: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #search_block_top {
    margin-top: 20px;
  }
}

.blocksearch.ac_results {
  border: 1px solid #d6d4d4;
  margin-top: -1px;
}

.blocksearch.ac_results li.ac_over {
  color: #fff;
  background-color: #337ab7;
}
