
@import "./../../theme_variables";
@import "./../../vendor_variables";

#homepage-slider {
  position: relative;
  margin-bottom: 30px;
  .bx-wrapper {
    // .bx-pager { bottom: auto; }
    .bx-next,
    .bx-prev {
      top: 50%;
      // margin-top: -10px;
    }
  }
}

#homeslider {
  padding: 0;
  // margin: 0 auto;
}

.homeslider-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 3% 50% 3% 40px;
  cursor: pointer;
}

.homeslider-description {
  cursor: pointer;
  color: #fff;
  h2 {
    font-size: 2.3em;
    margin: 0 0 0.3em;
  }
  p {
    font-size: 1.2em;
    margin: 0 0 0.4em;
  }
  .btn {
    font-size: 1.0em;
  }
  @media (max-width: $screen-lg) {
    font-size: 0.9em;
  }
  @media (max-width: $screen-md) {
    font-size: 0.8em;
  }
}

#homeslider-pager {
  border: 1px solid $panel-default-border;
  border-top: none;
  background: $panel-default-heading-bg;
  padding: 7px;
  .bx-pager {
    display: inline-block;
  }
  .bx-pager-item {
    display: inline-block;
    .bx-pager-link {
      display: inline-block;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      // border-radius: 10px;
      background: #ccc;
      margin: 0 5px;
      color: #000;
      text-decoration: none;
      &.active {
        background: $brand-primary;
        color: #fff;
      }
    }
  }
}
