
@import "theme_variables";
@import "vendor_variables";


#product_comparison {
  .product-image-container {
    position: relative;
  }
  .td_empty {
    font-weight: bold;
  }
  .availability_label {
    display: none;
  }
  .td-product-description {
    @media (max-width: $screen-xs-max) {
      white-space: normal;
    }
  }
  @media (min-width: $screen-sm-min) {
    table-layout: fixed;
  }
}

