/* line 3, ../../../sass/modules/mailalerts/mailalerts.scss */
#mailalerts_block_account li .products-block-image {
  float: left;
  margin-right: 19px;
}
/* line 7, ../../../sass/modules/mailalerts/mailalerts.scss */
#mailalerts_block_account li .remove {
  float: right;
}
/* line 9, ../../../sass/modules/mailalerts/mailalerts.scss */
#mailalerts_block_account li .remove i {
  cursor: pointer;
}
