#homepage-slider {
  position: relative;
  margin-bottom: 30px;
}

#homepage-slider .bx-wrapper .bx-next,
#homepage-slider .bx-wrapper .bx-prev {
  top: 50%;
}

#homeslider {
  padding: 0;
}

.homeslider-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 3% 50% 3% 40px;
  cursor: pointer;
}

.homeslider-description {
  cursor: pointer;
  color: #fff;
}

.homeslider-description h2 {
  font-size: 2.3em;
  margin: 0 0 0.3em;
}

.homeslider-description p {
  font-size: 1.2em;
  margin: 0 0 0.4em;
}

.homeslider-description .btn {
  font-size: 1.0em;
}

@media (max-width: 1200px) {
  .homeslider-description {
    font-size: 0.9em;
  }
}

@media (max-width: 992px) {
  .homeslider-description {
    font-size: 0.8em;
  }
}

#homeslider-pager {
  border: 1px solid #ddd;
  border-top: none;
  background: #f5f5f5;
  padding: 7px;
}

#homeslider-pager .bx-pager {
  display: inline-block;
}

#homeslider-pager .bx-pager-item {
  display: inline-block;
}

#homeslider-pager .bx-pager-item .bx-pager-link {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #ccc;
  margin: 0 5px;
  color: #000;
  text-decoration: none;
}

#homeslider-pager .bx-pager-item .bx-pager-link.active {
  background: #337ab7;
  color: #fff;
}
